@import 'scss/reset';
@import 'scss/base';
@import 'scss/nav';
@import 'scss/footer';

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.windows {
  li {
    position: fixed;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 24px 0px, rgba(0, 0, 0, 0.06) 0px 2px 12px 0px, rgba(64, 64, 76, 0.1) 0px 0px 0px 0.6px;
    background: rgba(white, .95);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}
