@import 'scss/reset';
@import 'scss/base';
@import 'scss/nav';
@import 'scss/footer';

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #26C931, #719AF9);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.windows:not(.title) {
  h3 {
    text-decoration: underline;
  }
  li {
    position: fixed;
    margin-left: 10px; 
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 24px 0px, rgba(0, 0, 0, 0.06) 0px 2px 12px 0px, rgba(64, 64, 76, 0.1) 0px 0px 0px 0.6px;
    background: rgba(white, .95);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 10px;
  }
  .competences
  {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
    padding: 10px;
  }
  .title {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
  }
}
.dot-html{
  opacity: 100%;
  height: 30px;
  width: 30px;
  background-color: #2D3142;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr{
  border: 5px;
  border-radius: 2px;
  height: 2px;
  width: 45%;
  position: relative;
  margin: 30px auto;
  background: #2D3142;
}